// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import 'active_admin_theme';

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.button-success {
    background-color: #28a745 !important;
}
.button-success:hover {
    background-color: #28a745 !important;
}
.button-danger {
    background-color: #dc3545 !important;
}
.button-danger:hover {
    background-color: #dc3545 !important;
}
button, select {
    width: 30%;
    text-transform: none;
}
form input[type=text], 
form input[type=password], 
form input[type=email], 
form input[type=number], 
form input[type=url], 
form input[type=tel] {
    width: 30%;
}
input[id^="q_"]{
    width: 47% !important;
}
form select, #order_product_ids, #order_client_id {
    border: 1px solid #c9d0d6;
    border-radius: 3px;
    font-size: 0.95em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: none;
    padding: 8px 10px 7px;
}

form select {
    padding: 8px 10px 7px;
}

form.filter_form .filter_form_field.select_and_search select,
form.filter_form .filter_form_field.filter_date_range input[type=text] {
    width: 112px;
}

form.filter_form .filter_form_field.select_and_search input[type=text] {
    margin-left: 10px;
}